<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ site.title }}</title>
    {% include "head.njk" %}
  </head>
  <body>
    <main data-density-shift>
    <div class="cubes">
      <div class="cube" style="
        top: 30%; 
        left: 10%; 
        --cube-size: 6rem; 
        --cube-rotation: 35deg; 
        --cube-float: -3s">
      </div>

      <div class="cube" style="
        top: 80%; 
        left: 30%; 
        --cube-size: 
        8rem; 
        --cube-rotation: 25deg; 
        --cube-float: 2s">
      </div>

      <div class="cube" style="
        top: 10%;
        left: 90%;
        --cube-size: 4rem;
        --cube-rotation: 65deg">
      </div>
    </div>

    <section class="hero callout max-content">
      <h1>
        <strong>Complementary</strong>
        <span>Space</span>
      </h1>
      <p>An imaginary tale of a <strong>design systems hero</strong> seeking purpose in a tragic sea of <strong>design tokens</strong>…</p>
    </section>
    <section class="content max-content">
      {{ content | safe }}
    </section>
    </main>
  </body>
</html>