<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ site.title }}</title>
    {% include "head.njk" %}
  </head>
  <body>
    <input aria-label="Toggle Contrast Style" role="switch" type="checkbox" id="contrast-toggle" style="position: absolute; opacity: 0; pointer-events: none;"/>
    {% include "contents.njk" %}
    <main id="main" data-density-shift>
    <div class="cubes">
      <div class="cube" style="
        top: 30%; 
        left: 10%; 
        --cube-size: 6rem; 
        --cube-rotation: 35deg; 
        --cube-float: -3s">
      </div>

      <div class="cube" style="
        top: 80%; 
        left: 30%; 
        --cube-size: 
        8rem; 
        --cube-rotation: 25deg; 
        --cube-float: 2s">
      </div>

      <div class="cube" style="
        top: 10%;
        left: 90%;
        --cube-size: 4rem;
        --cube-rotation: 65deg">
      </div>
    </div>
    <header class="max-content">
       <h1>
        <strong>Complementary</strong>
        <span>Space</span>
      </h1>
      <label for="contrast-toggle" data-density-shift>
        <span>
          Toggle Contrast Style
        </span>
        {% include "contrast.svg" %}
      </label>
    </header>
    <div class="hero max-content">
      <p class="description">{{ site.description }}</p>
    </div>
    <section class="content max-content">
      {{ content | safe }}
    </section>
    </main>
  </body>
</html>