<div class="contents" data-density-shift>
  <ul data-density-shift>
    <li>
      <a href="#foreword">Foreword</a>
    </li>
    <li>
      <a href="#history">History</a>
    </li>
    <li>
      <a href="#concept">Concept</a>
    </li>
    <li>
      <a href="#application">Application</a>
    </li>
    <li>
      <a href="#execution">Execution</a>
    </li>
    <li>
      <a href="#adoption">Adoption</a>
    </li>
  </ul>
</div>