*, :before, :after { 
  box-sizing: border-box;
}

aside {
  background: rgba(0, 0, 153, 0.5);
  padding: .5rem;
  text-align: center;
  max-width: 600px;
  margin-inline: auto;
  margin-block-start: 1rem;
}

.layout {
  display: flex;
  align-items: baseline;
  justify-content: center;
  gap: 5%;
  max-width: 500px;
  margin-inline: auto;
  filter: drop-shadow(4px 4px 0px #1A2980);
}

.house {
  position: relative;
}

.house:before {
  content: '%';
  position: absolute;
  top: 30%;
  left: 5%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  transform: skewY(15deg);
  font-size: clamp(1rem, 4vw, 2.5rem);
  line-height: 1;
}

svg {
  fill: none;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke: hotpink;
}
