*, :before, :after { 
  box-sizing: border-box;
}

aside {
  background: var(--code-background);
  padding: .5rem;
  text-align: center;
  max-width: 600px;
  margin-inline: auto;
  margin-block-start: 1rem;
}

.layout {
  display: flex;
  padding: 1rem;
  gap: 1rem;
  flex-wrap: wrap;
}

.layout div {
  border: 4px dashed var(--callout-accent);
  display: flex;
  padding: .5rem;
  background: rgba(0, 0, 0, .4);
  justify-content: center;
  align-items: center;
  flex: 1;
}

button {
  background: var(--box-background);
  border: 1px solid var(--callout-foreground);
  border-radius: .25em;
  color: var(--box-foreground);
  font: inherit;
  padding: .25em .5em;
  white-space: pre;
  font-size: .8em;
  cursor: pointer;
}
